#nav {
    font-size: 18px;
    font-weight: bolder;
}

.sticky-nav .container {
max-width: none;
}

.header_h1 {

	font-size:26px !important;
	text-align: center;
}

.product-image {

	border:1px solid #000;
}